aside{
    min-width: 230px;
    max-width: 230px;
    border-right: 1px solid #E4EBFA;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    top: 0;
    transform: translateY(-80px);
}